.ingredient-row {
  background: #f4f4f4;
  margin-bottom: 8px;
  border-radius: 8px;
  padding: 4px;
}

.input-card {
  --background: white;
  --border-radius: 4px;
  font-size: 0.9em;
}

.recipe-section {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
}
/* Esto ajusta el ancho del popover para que no dependa del ancho de la columna */
ion-popover {
  --width: 250px; 
}

/* Opcional: Para que el texto dentro del select no se corte en el input */
ion-select {
  width: 100%;
  max-width: 100%;
}