.floating-btn{

position:fixed;

right:25px;

bottom:25px;

width:65px;

height:65px;

border-radius:50%;

background:#ff7043;

display:flex;

justify-content:center;

align-items:center;

font-size:30px;

color:white;

z-index:999999;

cursor:pointer;

box-shadow:

0 10px 30px rgba(0,0,0,.25);

}

.floating-btn ion-badge{

position:absolute;

top:-5px;

right:-5px;

}


.floating-window{

position:fixed;

right:25px;

bottom:100px;

width:320px;

max-height:450px;

overflow:auto;

background:white;

border-radius:20px;

z-index:999999;

box-shadow:

0 20px 50px rgba(0,0,0,.2);

}


.header{

padding:15px;

font-weight:bold;

font-size:18px;

border-bottom:

1px solid #eee;

}


.pedido{

padding:15px;

border-bottom:

1px solid #f2f2f2;

}


.empty{

padding:30px;

text-align:center;

color:gray;

}