<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>{{ kitchen ? 'Editar' : 'Nuevo' }} Cocina</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="ion-no-margin" style="box-shadow: none; border: 1px solid #e8e1d9;">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="stacked" style="color: #4a3f35; font-weight: bold;">Nombre de la cocina</ion-label>
        <ion-input [(ngModel)]="newKitchen.name" type="text" placeholder="Ej: Bar, Pizzeria 1"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-button (click)="saveKitchen()" expand="block" color="dark" class="ion-margin-top" style="--border-radius: 12px; height: 45px;">
    <ion-icon name="save-outline" slot="start"></ion-icon>
    Guardar Configuración de cocina
  </ion-button>
</ion-content>