<ion-item-sliding #SlidingItem>
  <ion-item-options side="start">
    <ion-item-option>
      <div (click)="AlertProduct(product.id)">
        <img src="./assets/images/bell.png">
        <span>Alerta<br>Cocina</span>
      </div>
    </ion-item-option>
  </ion-item-options>
  <ion-item lines="none">
<div class="item">
  <div class="item-top">
    <div (click)="SeeProduct()" class="item-name">
      <span>{{product.name}}:{{product.accompaniment}}</span><br>
      <span class="qt">x{{product.quantity}} Bs.{{product.price * 1 + product.modify_price * 1}} - total: Bs. {{(product.quantity * (product.price * 1 + product.modify_price * 1))}}</span>
    </div>
    <div (click)="CheckProduct()" [class]="checkStyle">
      <ion-icon name="checkmark-outline"></ion-icon>
    </div>
  </div>
  <div (click)="SeeProduct()" class="item-bottom">
    <div class="item-kitchen">
      <span>C: {{product.kitchen}}</span>
    </div>
    <div *ngIf="product.state == 'espera'" class="item-time">
      <span>{{ItemTimer()}}</span>
    </div>
    <div [class]="productStyle">
      <span>{{product.state}}</span>
    </div>
  </div>
</div>
</ion-item>
</ion-item-sliding>
