.info-card {

  .info-grid {

    display: grid;

    grid-template-columns:

    repeat(auto-fit,minmax(140px,1fr));

    gap: 12px;

  }

  p{

    margin-top:4px;

    color:#666;

  }

}



.product-card{

  margin-bottom:12px;

  border-radius:14px;

  overflow:hidden;

}



.product-ready{

  border-left:5px solid #2dd36f;

  background:#f5fff8;

}



.extras{

  padding:12px;

  background:#fafafa;

}



.extra-item{

  font-size:.85em;

  color:#666;

}



.pagos-producto{

  padding:10px;

  display:flex;

  flex-direction:column;

  gap:8px;

}



.pago-card{

  padding:10px;

  border-radius:10px;

  background:#f7f7f7;

  border-left:4px solid #ccc;

}



.pago-header{

  display:flex;

  justify-content:space-between;

  font-weight:600;

}



.pago-body{

  margin-top:5px;

  display:flex;

  justify-content:space-between;

  font-size:.85em;

}



.pago-efectivo{

  border-left-color:#6c757d;

}



.pago-qr{

  border-left-color:#2ecc71;

}



.pago-tarjeta{

  border-left-color:#3498db;

}



.historial-item{

  padding:12px;

  margin-bottom:10px;

  border-left:4px solid var(--ion-color-primary);

  background:#fafafa;

  border-radius:10px;

}



.accion{

  font-weight:700;

  margin-bottom:5px;

}
.footer-actions{

  margin-top:20px;

  margin-bottom:15px;

}