<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Pedido #{{ order_id }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="product-list">
    <ion-card *ngFor="let prod of productos" [class.product-ready]="prod.status === 'ready'">
  <ion-item lines="none">
    <ion-badge slot="start" [color]="prod.status === 'ready' ? 'success' : 'light'">
      {{ prod.quantity }}x
    </ion-badge>
    <ion-label>
  <h2>{{ prod.producto }}</h2>
  <p style="color: #666; font-size: 0.85em; font-weight: normal;">
    <ion-icon name="restaurant-outline"></ion-icon> 
    {{ prod.nombres_cocinas || 'Sin cocina asignada' }}
  </p>
<p *ngIf="prod.status === 'pending' || prod.status === 'preparing'" class="running">
  <ion-icon name="time-outline"></ion-icon> {{ prod.timeDisplay }}
</p>
</ion-label>
<ion-button 
  *ngIf="prod.status !== 'ready' && prod.status !== 'canceled' && prod.status !== 'cancel'"
  slot="end"
  fill="clear"
  color="warning"
  (click)="llamarMesero(prod)"
  [class.blink-alert]="prod.alert_status == 1">

  <ion-icon name="megaphone-outline" slot="icon-only"></ion-icon>
</ion-button>
  </ion-item>
  <div *ngIf="prod.pagos?.length > 0" class="pagos-producto">

  <div *ngFor="let pago of prod.pagos" 
       class="pago-card"
       [ngClass]="{
         'pago-efectivo': pago.metodo_pago === 'efectivo',
         'pago-qr': pago.metodo_pago === 'qr',
         'pago-tarjeta': pago.metodo_pago === 'tarjeta'
       }">

    <div class="pago-header">
      <span class="nombre">👤 {{ pago.razonSocial }}</span>
      <span class="monto">Bs {{ pago.monto | number:'1.2-2' }}</span>
    </div>

    <div class="pago-body">
      <span class="nit">🪪 {{ pago.nit }}</span>
      <span class="metodo">💳 {{ pago.metodo_pago | uppercase }}</span>
    </div>

  </div>

</div>
</ion-card>

  </div>
  
</ion-content>