<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Factura #{{ orderId }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- 🔥 FORMULARIO CLIENTE -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos del Cliente</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-label position="stacked">Nombre / Razón Social</ion-label>
        <ion-input [(ngModel)]="cliente.nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">NIT / CI</ion-label>
        <ion-input [(ngModel)]="cliente.nit"></ion-input>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <!-- 🔥 FACTURA IMPRIMIBLE -->
  <div id="factura">

    <h2 style="text-align:center;">MIXURA - MECA</h2>
    <p style="text-align:center;">
      Fecha: {{ today | date:'dd/MM/yyyy HH:mm' }}
    </p>

    <hr>

    <p><strong>Cliente:</strong> {{ cliente.nombre }}</p>
    <p><strong>NIT:</strong> {{ cliente.nit }}</p>

    <hr>

    <ion-list>
      <ion-item *ngFor="let item of detalles">
        <ion-label>
          {{ item.nombre_producto }}
          <p>{{ item.quantity }} x {{ item.unit_price }}</p>
        </ion-label>
        <ion-note slot="end">
          {{ item.total_price }}
        </ion-note>
      </ion-item>
    </ion-list>

    <hr>

    <h2 style="text-align:right;">
      TOTAL Bs: {{ total | number:'1.2-2' }}
    </h2>

    <p style="text-align:center; font-size:12px;">
      Gracias por su preferencia
    </p>

  </div>
<ion-button expand="block" color="primary" (click)="emitirFacturaSIAT()">
      <ion-icon name="cloud-upload-outline" slot="start"></ion-icon>
      GENERAR FACTURA ELECTRÓNICA SIAT
    </ion-button>
  <ion-button expand="full" color="success" (click)="imprimir()">
    🖨 Imprimir Factura
  </ion-button>

  <ion-button expand="full" color="medium" (click)="volverMesas()">
    Volver
  </ion-button>

</ion-content>