
<div class="popover">  
  <div class="popover-header">
    <div class="popover-title"></div>
    <ion-button (click)="Close()" size="small" fill="clear"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
  </div>
  <div class="popover-notes">
    <h4>Notas para esta mesa</h4>
    <ion-textarea [(ngModel)]="notes" placeholder="Notas..."></ion-textarea>
  </div>
  <div class="popover-footer">
    <ion-button class="btn-yellow" (click)="AddNote()" expand="block">Agregar</ion-button>
  </div>
</div>
