<ion-app>

  <!-- MENU LATERAL -->
  <ion-menu contentId="main-content" side="start" menuId="flatsMenu">

    <ion-header>
      <ion-toolbar color="light">
        <ion-title>☕ Pisos</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="menu-content">
      <ion-list>

        <ion-item *ngFor="let flat of flats"
                  (click)="goToFlat(flat.id_flat || flat.Id_flats || flat.id)">
          <ion-icon name="cafe-outline" slot="start"></ion-icon>
          <ion-label>
            {{ flat.name }}
          </ion-label>
        </ion-item>
<ion-item-divider>Cocinas</ion-item-divider>

<ion-item *ngFor="let kitchen of kitchens"
          (click)="goToKitchen(kitchen.id)">
  <ion-icon name="restaurant-outline" slot="start"></ion-icon>
  <ion-label>
    {{ kitchen.name }}
  </ion-label>
  
</ion-item>
<ion-item routerLink="/panel/pedidos">
  Pedidos
</ion-item>
<ion-item routerLink="/panel/users">
  Gestión de usuarios
</ion-item>       
<ion-item routerLink="/panel/registrar-mesa">
  Gestión de mesas
</ion-item>    
 <ion-item routerLink="/panel/inventario">Inventario</ion-item>
        <ion-item>Compras</ion-item>
        <ion-item>Informes y reportes</ion-item>

      </ion-list>
    </ion-content>

  </ion-menu>

  <!-- CONTENIDO PRINCIPAL -->
  <div class="ion-page" id="main-content">

    <ion-header>
      <ion-toolbar class="toolbar-cafe">

        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>{{ systemName }}</ion-title>

        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="logout()">
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-toolbar>

      <ion-toolbar class="sub-toolbar">
        <div class="welcome-box">
          ☕ Bienvenido
        </div>
      </ion-toolbar>
    </ion-header>

    <!-- 👇 SOLO UN ION-CONTENT EN EL PADRE -->
    <ion-content class="dashboard-bg">
      <router-outlet></router-outlet>
    </ion-content>

  </div>

</ion-app>