.table-content {
    display: flex;
    flex-direction: column;

    .table-people {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;

        .change-quantity {
            border: 2px solid #FFF;
            border-radius: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            font-size: 26px;
            font-style: normal;
            font-weight: 700;

            span {
                color: #FFF;
                font-size: 21px;
                font-style: normal;
                font-weight: 400;
            }

            .minus {
                color: #8C8C8C;
            }

            .plus {
                color: #FFE500;
            }
        }
    }

    .product-items {
        padding: 10px;
        flex-grow: 1;
        padding-bottom: 130px;
    }

    .table-footer {
        background: #23272A;
        position: fixed;
        z-index: 9;
        bottom: 0;
        width: 100%;
        padding-bottom: 10px;
        .table-note {
            background: #12161A;
        }

        .table-options {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .clean-table {
                background: #FFF;
                --background: #FFF;
                --color: #0C3A39;
                text-align: center;
                font-family: 'Barlow';
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                border-radius: 8px;

            }

            .send-disabled {
                background: #99AAB5;
                --background: #99AAB5;
                --color: #717171;
                text-align: center;
                font-family: 'Barlow';
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                border-radius: 8px;

            }

            .send-enabled {
                background: #FFC90C;
                --background: #FFC90C;
                --color: #0C3A39;
                text-align: center;
                font-family: 'Barlow';
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                border-radius: 8px;

            }
        }
    }
}

ion-popover ion-content.table-options-content {
    --background: #121619;
}

.table-options-content {
    div {
        width: 100%;
        padding: 10px;
        text-align: right;
        font-size: 1.3rem;
        font-weight: 300;
        color: #FFF;
    }
    .red-btn {
        color: #FF3A3A;
    }
}