<!-- <ion-header *ngIf="table" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title (click)="SeeTables()" *ngFor="let tab of table">MESA {{tab.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="SeeInvoice()" class="btn-yellow">CUENTA</ion-button>
      <ion-button (click)="SwitchTable()" class="btn-yellow">
        <ion-icon name="sync-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content *ngIf="table" [fullscreen]="true">
  <div id="main-header">
    <div id="logout">
      <a (click)="GoNext('dashboard')">REGRESAR</a>
    </div>
    <ion-button (click)="SeeInvoice()" class="btn-yellow">CUENTA</ion-button>      
    <div *ngFor="let tab of table" id="title-table">
      MESA<div class="table-name">{{tab.name }}</div>
    </div>
    <div id="icon">
      <ion-button id="table-options" fill="clear">
        <ion-icon src="./assets/icon/dots.svg"></ion-icon>
      </ion-button>
    </div>
  </div>
  
  <div *ngFor="let tab of table" class="table-content">
    <ion-popover trigger="table-options" [dismissOnSelect]="true" triggerAction="click">
      <ng-template>
        <ion-content class="table-options-content">
          <div (click)="CloseTable()" *ngIf="tab.closed == 0">
            CLAUSURAR MESA
          </div>
          <div (click)="ReOpenTable()" *ngIf="tab.closed == 1">
            ABRIR MESA
          </div>
          <div *ngIf="tab.state != 'vacia' && tab.id_user == id_user" (click)="SwitchTable()">
            CAMBIAR A OTRO PISO
          </div>
          <div *ngIf="tab.id_user == id_user" (click)="UnassignTable()" class="red-btn">
            DESASIGNAR MESA
          </div>
          <div *ngIf="tab.id_user == -1 || tab.id_user == 0" (click)="AssignTable()">
            ASIGNAR MESA
          </div>
          <div (click)="GoTableRecord()">
            HISTORIAL
          </div>
          <div (click)="AddExtraCost()">
            AGREGAR COSTO EXTRA
          </div>
        </ion-content>
      </ng-template>
    </ion-popover>
    <div *ngIf="tab.id_user == id_user || tab.id_user == 0" class="table-people">
      <ion-img src="assets/images/peoples.svg"></ion-img>
      <div class="change-quantity">
        <ion-button (click)="RemoveQuantity()" class="minus" fill="clear" size="small">-
        </ion-button>
        <span>{{ people }}</span>
        <ion-button (click)="AddQuantity()" class="plus" fill="clear" size="small">+
        </ion-button>
      </div>
    </div>
    <ion-button *ngIf="tab.id_user == id_user || tab.id_user == 0" class="btn-yellow" (click)="AddProducts()" expand="block"><ion-icon slot="start" name="add-circle-outline"></ion-icon>Agregar producto</ion-button>
    <div *ngIf="tab.products != 0" class="product-items">
      <app-product-item *ngFor="let product of tab.products" [product]="product" (checkProduct)="Delivered($event)" (seeProduct)="SeeProduct($event)"></app-product-item>
      
    </div>
    <div class="table-footer">
      <div *ngIf="tab.products != 0 && tab.id_user == id_user" class="table-note">
        <ion-button class="clear-yellow" (click)="AddNote()" fill="clear" expand="block">
          <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          Agregar nota a esta mesa</ion-button>
      </div>
      <div class="table-options">
        <ion-button (click)="ClearTable()" class="clean-table">LIMPIAR MESA</ion-button>
        <ion-button *ngIf="tab.products != 0 && tab.id_user == id_user" (click)="SendProducts()" class="send-enabled">ENVIAR COMANDA</ion-button>
  
      </div>
    </div>
  </div>
</ion-content>
