<ion-content class="cocina-bg">
  <ion-toolbar class="toolbar-cocina">
    <ion-title>Panel de Cocina - {{ kitchenName }}</ion-title>
    <ion-buttons slot="end">
      <ion-badge color="dark">{{ orders.length }} Pendientes</ion-badge>
    </ion-buttons>
  </ion-toolbar>

  <div class="orders-grid">
    <div class="order-ticket" *ngFor="let item of orders; trackBy: trackByDetail"
      [class.blink-alert]="item.alert_status == 3">

      <div class="order-badge">
        Pedido #{{item.order_id}}
        <small class="same-order" *ngIf="countProducts(item.order_id)>1">
          {{countProducts(item.order_id)}} productos
        </small>
      </div>

      <div class="ticket-header">
        <span class="table-number">Mesa {{item.table_id}}</span>
        <div [class]="getTimerClass(item)">
          <ion-icon name="time-outline"></ion-icon>
          <span>{{item.timeLeft}}</span>
        </div>
      </div>

      <div class="process-bar">
        <div class="step"
          [class.active]="item.process_status=='new' || item.process_status=='preparing' || item.process_status=='ready_pickup'">
          <div class="circle"></div><span>Nuevo</span>
        </div>
        <div class="line"></div>
        <div class="step" [class.active]="item.process_status=='preparing' || item.process_status=='ready_pickup'">
          <div class="circle"></div><span>Preparando</span>
        </div>
        <div class="line"></div>
        <div class="step" [class.active]="item.process_status=='ready_pickup'">
          <div class="circle"></div><span>Listo</span>
        </div>
      </div>

      <div class="ticket-body">
       <h2 class="product-name">
  {{ item.alias || item.name }}
</h2>
        <small *ngIf="item.itemIndex">
          Unidad {{item.itemIndex}}
        </small>

        <div class="order-extra" *ngIf="item.notes || item.sides">
          <div class="extra-note" *ngIf="item.notes">
            <ion-icon name="document-text-outline"></ion-icon>
            <span>{{item.notes}}</span>
          </div>
          <div class="extra-sides" *ngIf="item.sides">
            <ion-icon name="restaurant-outline"></ion-icon>
            <span>{{item.sides}}</span>
          </div>
        </div>
      </div>

      <ion-button size="small" fill="outline" (click)="openIngredientAdjust(item)">
        <ion-icon name="options-outline"></ion-icon> Modificar ingredientes
      </ion-button>

      <div class="ticket-footer">

        <div class="alert-zone" style="margin-bottom: 8px;">
          <ion-button *ngIf="item.alert_status == 3" color="danger" expand="block"
            (click)="callarAlertaMesero(item.detail_id)">
            <ion-icon name="volume-mute-outline" slot="start"></ion-icon>
            SILENCIAR AL MESERO
          </ion-button>

          <ion-button *ngIf="item.alert_status != 1 && item.alert_status != 3" color="warning" fill="outline"
            expand="block" (click)="alertarAlMesero(item.detail_id)">
            <ion-icon name="volume-high-outline" slot="start"></ion-icon>
            ZUMBAR MESERO
          </ion-button>

          <div *ngIf="item.alert_status == 1"
            style="text-align: center; font-size: 11px; color: #ff7043; font-weight: bold; padding: 4px;">
            ⚠️ Avisado al mesero (Sonando...)
          </div>
        </div>

        <ion-button *ngIf="item.process_status=='new'" color="warning" expand="block" (click)="startPreparing(item)">
          <ion-icon name="play" slot="start"></ion-icon> EMPEZAR
        </ion-button>

        <ion-button *ngIf="item.process_status=='preparing'" expand="block" class="btn-ready"
          (click)="readyPickup(item)">
          <ion-icon name="checkmark" slot="start"></ion-icon> LISTO PARA RECOGER
        </ion-button>

        <div class="waiting-pickup" *ngIf="item.process_status=='ready_pickup'">
          <ion-icon name="bag-check-outline"></ion-icon> Esperando al mesero
        </div>

      </div>
    </div>
  </div>

  <div *ngIf="orders.length===0" class="empty-kitchen">
    <ion-icon name="restaurant-outline"></ion-icon>
    <p>¡Cocina al día! No hay pedidos pendientes.</p>
  </div>
</ion-content>