<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Panel Cocina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let item of orders">

    <ion-card-header>
      Mesa {{ item.table_id }}
    </ion-card-header>

    <ion-card-content>
      {{ item.name }} x{{ item.quantity }}

      <ion-button 
        expand="block"
        color="success"
        (click)="markReady(item.detail_id)">
        Marcar Listo
      </ion-button>
    </ion-card-content>

  </ion-card>

</ion-content>