<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-cocina">
    <ion-title>Panel de Cocina - {{ kitchenName }}</ion-title>

    <ion-buttons slot="end">
      <ion-badge color="dark">
        {{ orders.length }} Pendientes
      </ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="cocina-bg">

  <div class="orders-grid">

    <div class="order-ticket" *ngFor="let item of orders" [class.blink-alert]="item.alert_status == 1">

      <!-- HEADER -->
      <div class="ticket-header">

        <span class="table-number">
          Mesa {{ item.table_id }}
        </span>

        <!-- ⏱ TIMER -->
        <div [class]="getTimerClass(item)">
          <ion-icon name="time-outline"></ion-icon>
          <span>{{ item.timeLeft }}</span>
        </div>

      </div>

      <!-- BODY -->
      <div class="ticket-body">

<h2 class="product-name">
  <span class="quantity">{{ item.quantity }}x</span>
  {{ item.alias || item.name }}
</h2>

<small class="product-real" *ngIf="item.alias">
  {{ item.name }}
</small>

        <!-- 🚨 Notas y acompañamientos estilo ticket -->
        <div class="order-extra" *ngIf="item.notes || item.sides">

          <!-- 📝 Notas -->
          <div class="extra-note" *ngIf="item.notes">
            <ion-icon name="document-text-outline"></ion-icon>
            <span>{{ item.notes }}</span>
          </div>

          <!-- 🥗 Acompañamientos -->
          <div class="extra-sides" *ngIf="item.sides">
            <ion-icon name="restaurant-outline"></ion-icon>
            <span>{{ item.sides }}</span>
          </div>

        </div>
      </div>
<ion-button 
size="small"
fill="outline"
(click)="openIngredientAdjust(item)">
<ion-icon name="options-outline"></ion-icon>
Modificar ingredientes
</ion-button>
      <!-- FOOTER -->
      <div class="ticket-footer">

        <!-- 🔔 BOTÓN CALLAR (SOLO SI ALERTA ACTIVA) -->
        <ion-button *ngIf="item.alert_status == 1" color="danger" expand="block"
          (click)="silenciarAlerta(item.detail_id)">
          <ion-icon name="volume-mute-outline" slot="start"></ion-icon>
          CALLAR ALERTA
        </ion-button>

        <!-- ✅ TERMINADO -->
        <ion-button expand="block" class="btn-ready" (click)="markReady(item.detail_id)">
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>
          TERMINADO
        </ion-button>

      </div>

    </div>

  </div>

  <!-- VACÍO -->
  <div *ngIf="orders.length === 0" class="empty-kitchen">
    <ion-icon name="restaurant-outline"></ion-icon>
    <p>¡Cocina al día! No hay pedidos pendientes.</p>
  </div>

</ion-content>