<div class="item">
  <div [class]="itemStyle">
    <span>x{{item.quantity}}</span>&nbsp;<span>{{item.alias==''?item.name:item.alias}}</span>
    <div *ngIf="item.accompaniment !=''" class="item-notes">{{item.accompaniment}}</div>
    <div *ngIf="item.notes !=''" class="item-notes">{{item.notes}}</div>
  </div>
  <div class="item-options">
    <div (click)="ProductCooked(item.id)" [class]="(item.state == 'espera'||item.state == 'preparando')?'item-check item-check-idle':'item-check item-check-ready'">
      <ion-icon name="checkmark-outline"></ion-icon>
    </div>
    <span>{{ItemTimer()}}</span>
  </div>
</div>