.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    text-wrap: wrap;
    color: #FFF;
    .item-detail {
        border-radius: 10px;
        padding: 10px;
        width: 80%;        
    }
    .item-normal {
        background: #121619;
    }
    .item-warning {
        background: #814D00
    }
    .item-danger {        
        background: #501010;
    }
    .item-notes {
        border-top: #616161 1px solid;
        margin-top: 3px;
    }
    .item-options {
        text-align: center;
    }
    .item-check {
        width: 39px;
        height: 39px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: #FFF 2px solid;
        border-radius: 39px;
        ion-icon {
            color: #616161;
            height: 24px;
            width: 24px;
        }
    }
    .item-check-idle {
        background: #23272A;
    }
    .item-check-ready {
        background: #02BF15;
    }
}

