

<ion-content class="dashboard-bg" style="--background: #fcfaf8;">
    <ion-toolbar color="light">
    <ion-title>Gestión de Cocinas</ion-title>
  </ion-toolbar>
  <div class="table-container">

    <div class="header-actions">
      <ion-searchbar placeholder="Buscar cocina..." [(ngModel)]="filterNombre" class="custom-searchbar"></ion-searchbar>
      <ion-button fill="outline" color="medium" (click)="limpiarTodosFiltros()">

        <ion-icon slot="start" name="refresh-outline">
        </ion-icon>

        Limpiar

      </ion-button>
      <ion-button (click)="openCreateModal()" fill="solid" color="dark">
        <ion-icon name="add-outline" slot="start"></ion-icon>
        Añadir Nuevo
      </ion-button>
    </div>

    <ion-grid>
      <ion-row class="table-header">

        <ion-col size="5" (click)="ordenar('name')" class="sortable">

          Nombre

          <ion-icon *ngIf="sortColumn==='name'" [name]="sortDirection==='asc'
      ? 'arrow-up'
      : 'arrow-down'">
          </ion-icon>

        </ion-col>

        <ion-col size="4" (click)="ordenar('active')" class="sortable">

          Estado

          <ion-icon *ngIf="sortColumn==='active'" [name]="sortDirection==='asc'
      ? 'arrow-up'
      : 'arrow-down'">
          </ion-icon>

        </ion-col>

        <ion-col size="3">
          Acciones
        </ion-col>

      </ion-row>
      <ion-row class="filter-row">

        <ion-col size="5">

          <input type="text" [(ngModel)]="filtros.name" placeholder="Buscar cocina">

        </ion-col>

        <ion-col size="4">

          <input type="text" [(ngModel)]="filtros.active" placeholder="Activo/Inactivo">

        </ion-col>

        <ion-col size="3"></ion-col>

      </ion-row>

      <ion-row *ngFor="let kitchen of kitchensPaginadas" class="align-center"
        [style.opacity]="kitchen.active == 0 ? '0.6' : '1'">

        <ion-col size="5">
          <strong class="ing-name">{{ kitchen.name }}</strong>
        </ion-col>

        <ion-col size="4">
          <ion-button fill="clear" [color]="kitchen.active == 1 ? 'success' : 'danger'"
            (click)="toggleFlatState(kitchen)" class="btn-state">
            <ion-icon style="width: 50px;" slot="start"
              [name]="kitchen.active == 1 ? 'checkmark-circle' : 'close-circle'"></ion-icon>
            <small>{{ kitchen.active == 1 ? 'Activo' : 'Inactivo' }}</small>
          </ion-button>
        </ion-col>

     <ion-col size="3" class="actions-cell">

  <ion-button
    fill="clear"
    color="primary"
    (click)="openCreateModal(kitchen)">

    <ion-icon
      slot="icon-only"
      name="create-outline">
    </ion-icon>

  </ion-button>


  <ion-button

    fill="clear"

    color="danger"

    (click)="confirmarEliminar(kitchen)">

    <ion-icon

      slot="icon-only"

      name="trash-outline">

    </ion-icon>

  </ion-button>

</ion-col>
      </ion-row>
    </ion-grid>
    <div class="pagination-container">

      <div class="page-size">

        <span>Mostrar:</span>

        <ion-select [(ngModel)]="itemsPorPagina">

          <ion-select-option *ngFor="let opcion of opcionesPagina" [value]="opcion">

            {{ opcion }}

          </ion-select-option>

        </ion-select>

      </div>

      <div class="page-controls">

        <ion-button fill="clear" (click)="paginaAnterior()" [disabled]="paginaActual===1">

          ←

        </ion-button>

        <span>

          Página {{ paginaActual }}
          de {{ totalPaginas }}

        </span>

        <ion-button fill="clear" (click)="paginaSiguiente()" [disabled]="paginaActual===totalPaginas">

          →

        </ion-button>

      </div>

    </div>
  </div>
</ion-content>