<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
<ion-title>
  {{ editMode ? 'Editar Pedido #' + order_id : 'Mesa ' + table?.nombre }}
</ion-title>

    <ion-buttons slot="end">

      <ion-button (click)="close()" fill="clear">

        <ion-icon name="close-outline" slot="icon-only">

        </ion-icon>

      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content fullscreen>

  <!-- TABS MOVIL -->

  <ion-segment [(ngModel)]="mobileTab" class="mobile-tabs">

    <ion-segment-button value="order">

      <ion-icon name="restaurant-outline">

      </ion-icon>

      <ion-label>

        Orden

      </ion-label>

    </ion-segment-button>


    <ion-segment-button value="cart">

      <ion-icon name="cart-outline">

      </ion-icon>

      <ion-label>

        Resumen

      </ion-label>

    </ion-segment-button>

  </ion-segment>



  <div class="modal-container">

    <!-- IZQUIERDA -->

    <div class="left-panel" [class.hidden-mobile]="mobileTab=='cart'">



      <!-- CATEGORIAS -->

      <ng-container *ngIf="viewMode=='categories'">


        <!-- BUSCADOR -->

        <ion-searchbar placeholder="Buscar producto..." [(ngModel)]="searchTerm" (ionInput)="searchProducts()"
          debounce="400">

        </ion-searchbar>

        <!-- RESULTADOS SUBCATEGORIAS -->

        <div *ngIf="subcategoryResults.length>0" class="search-section">

          <h5>

            Subcategorías

          </h5>



          <div class="subcategory-grid">



            <div class="sub-box" *ngFor="let sub of subcategoryResults" (click)="selectSubcategory(sub)">



              <div class="sub-name">

                {{sub.name}}

              </div>



              <div class="sub-badge">

                {{sub.totalProducts || 0}}

              </div>



            </div>



          </div>

        </div>

        <!-- RESULTADOS -->
        <!-- RESULTADOS PRODUCTOS -->

        <div *ngIf="searchResults.length>0" class="search-section">

          <h5>

            Productos

          </h5>

          <div class="products-grid">

            <div class="product-card" *ngFor="let product of searchResults" (click)="addProduct(product)">

              <div class="product-info">

                <h3>

                  {{product.name}}

                </h3>

                <p class="stock" [ngClass]="{

        'low-stock':

        product.stock_disponible<=3

        }">

                  📦

                  {{product.stock_disponible}}

                </p>

              </div>


              <div class="product-right">

                <div class="product-price">

                  Bs {{product.price}}

                </div>

                <ion-button fill="solid" size="small" color="success">

                  <ion-icon name="add-outline">

                  </ion-icon>

                </ion-button>

              </div>

            </div>

          </div>

        </div>



        <!-- CATEGORIAS -->

        <ng-container *ngIf="searchTerm==''">

          <div class="categories-container">


            <div class="category-card" *ngFor="let cat of categories">


              <div class="category-header">

                <div>

                  <h2>

                    {{cat.name}}

                  </h2>

                  <small>

                    {{cat.subcategories?.length || 0}}

                    subcategorías

                  </small>

                </div>


                <ion-icon name="folder-open-outline">

                </ion-icon>

              </div>



              <div class="subcategory-grid">


                <div class="sub-box" *ngFor="let sub of cat.subcategories" (click)="selectSubcategory(sub)">



                  <div class="sub-name">

                    {{sub.name}}

                  </div>



                  <div class="sub-count">

                    {{sub.totalProducts || 0}}

                  </div>


                </div>

              </div>

            </div>

          </div>

        </ng-container>


      </ng-container>





      <!-- PRODUCTOS -->


      <ng-container *ngIf="viewMode=='products'">


        <div class="product-header">


          <ion-button fill="clear" (click)="goBack()">

            <ion-icon name="chevron-back-outline" slot="start">

            </ion-icon>

            Volver

          </ion-button>


          <h2>

            {{currentCategoryName}}

          </h2>

        </div>




        <div class="products-grid">


          <div class="product-card" *ngFor="let product of products" (click)="addProduct(product)">



            <div class="product-info">

              <h3>

                {{product.name}}

              </h3>


              <p class="stock" [ngClass]="{

'low-stock':

product.stock_disponible<=3

}">

                📦

                {{product.stock_disponible}}

                disponibles

              </p>

            </div>


            <div class="product-right">


              <div class="product-price">

                Bs {{product.price}}

              </div>


              <ion-button fill="solid" size="small" color="success">

                <ion-icon name="add-outline">

                </ion-icon>

              </ion-button>

            </div>


          </div>

        </div>

      </ng-container>


    </div>






    <!-- DERECHA -->



    <div class="right-panel" [class.hidden-mobile]="mobileTab=='order'">


      <div class="cart-header">

        <ion-icon name="cart-outline">

        </ion-icon>

        Resumen del pedido

      </div>





      <div class="cart-items-container">


        <ng-container *ngIf="cart.length>0">



          <div class="cart-card" *ngFor="let item of cart">



            <div class="cart-top">

              <div>

                <h3>

                  {{item.name}}

                </h3>

                <small>

                  Bs {{item.price}}

                </small>

              </div>



              <div class="price-edit">


                <ion-icon name="cash-outline" [color]="

                  item.isPriceEditable

                  ?

                  'warning'

                  :

                  'medium'

                  ">

                </ion-icon>



                <ion-toggle [(ngModel)]="item.isPriceEditable" color="warning">

                </ion-toggle>

              </div>

            </div>



            <ion-textarea class="cart-textarea" autoGrow="true" rows="2" placeholder="Notas" [(ngModel)]="item.notes">

            </ion-textarea>


            <ion-textarea class="cart-textarea" autoGrow="true" rows="2" placeholder="Acompañamiento"
              [(ngModel)]="item.sides">

            </ion-textarea>




            <div class="price-input">

              Bs

              <ion-input type="number" [(ngModel)]="item.price" [readonly]="!item.isPriceEditable">

              </ion-input>

            </div>





            <div class="quantity-controls">



              <ion-button fill="clear" color="danger" (click)="removeProduct(item)">

                <ion-icon name="remove-circle-outline">

                </ion-icon>

              </ion-button>



              <span>

                {{item.quantity}}

              </span>



              <ion-button fill="clear" color="success" (click)="addProduct(item)">

                <ion-icon name="add-circle-outline">

                </ion-icon>

              </ion-button>




              <ion-button fill="clear" color="danger" (click)="deleteFromCart(item)">


                <ion-icon name="trash-outline">

                </ion-icon>

              </ion-button>

            </div>



          </div>

        </ng-container>






        <div *ngIf="cart.length===0" class="empty-cart">


          <ion-icon name="basket-outline">

          </ion-icon>


          <h3>

            Aún no hay productos

          </h3>


          <p>

            Agrega productos para comenzar

          </p>

        </div>

      </div>






      <div class="cart-footer">


        <div class="total-row">


          <span>

            Total

          </span>


          <span class="total-amount">

            Bs {{getTotal()}}

          </span>

        </div>



<ion-button expand="block" color="success" shape="round" class="confirm-btn" [disabled]="cart.length===0"
  (click)="confirmOrder()">

  {{ editMode ? 'Guardar Cambios' : 'Confirmar Pedido' }}

</ion-button>
      </div>



    </div>



  </div>

</ion-content>