<div class="tables-container">

  <div 
    class="table-card"
    *ngFor="let mesa of tables"
  >

    <h2>{{ mesa.nombre }}</h2>
    <p>Estado: {{ mesa.estado }}</p>

    <!-- ABRIR PEDIDO -->
    <ion-button 
      *ngIf="mesa.estado === 'Libre'"
      (click)="openOrderModal(mesa)">
      Tomar Pedido
    </ion-button>

    <!-- ENTREGAR PEDIDO -->
    <ion-button 
      *ngIf="mesa.estado === 'Ready'"
      color="warning"
      (click)="abrirResumen(mesa.order_id)">
      ENTREGAR PEDIDO
    </ion-button>

  </div>

</div>
<div *ngIf="tables.length === 0" class="no-tables">
  No hay mesas disponibles
</div>