<div class="tables-container">

<div 
  class="table-card"
  *ngFor="let table of tables"
  (click)="openOrderModal(table)"
>

    <div class="status-indicator"></div>

    <div class="table-center">
      <h2>{{ table.nombre }}</h2>
      <div class="capacity">
        👥 {{ table.capacidad }}
      </div>
    </div>

    <div class="table-footer">
      {{ table.estado }}
    </div>

<ion-card *ngFor="let mesa of tables">

  <ion-card-header>
    Mesa {{ mesa.numero }}
  </ion-card-header>

  <ion-card-content>

    Estado: {{ mesa.estado }}

    <!-- 🔥 BOTÓN FACTURAR SOLO SI ESTÁ READY -->
    <ion-button 
      *ngIf="mesa.status === 'ready'"
      color="success"
      expand="block"
      (click)="irFacturacion(mesa.id_order)">
      FACTURAR
    </ion-button>

  </ion-card-content>

</ion-card>
  </div>

</div>

<div *ngIf="tables.length === 0" class="no-tables">
  No hay mesas disponibles
</div>