<ion-content [fullscreen]="true">
  <div id="container">
    <div class="logo-container">
      <img src="./assets/images/logo.png" alt="logo" class="logo">
    </div>
    <div class="form-container">
      <h4 *ngIf="showError" class="error">{{error}}</h4>
      <h3>INGRESA TU CÓDIGO</h3>
      <ion-item>
        <ion-input [(ngModel)]="nombre" type="text" placeholder="TU CÓDIGO"></ion-input>
      </ion-item>
      <h3>PISO</h3>
      <ion-item>
        <ion-select (ionChange)="TypeSelected($event)"  placeholder="PISOS">          
          <ion-select-option *ngFor="let zone of zones" [value]="zone.id">{{zone.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="button-container">
      <ion-button (click)="Login()" class="btn-yellow">Ingresar</ion-button>
    </div>
  </div>
</ion-content>