#container {
  width: 100%;
  height: 100%;
  padding: 10px;
  .logo-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #FFC90C;
    img {
      width: 100px;
      height: 100px;
    }  
  }
  .form-container {
    text-align: center;
    h3 {
      font-weight: 300;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #FFF;
    }
    ion-input, ion-select {
      --background: #D9D9D9;
      --color: #23272A;
      --placeholder-color: #8a8b8d;
      --placeholder-opacity: 1;
      --border-radius: 6px;
      --border-width: 1px;
      --padding-start: 10px;
      --padding-end: 10px;
    }
    ion-item::part(native) {
      background: transparent; 
    }
  }
  .button-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
  }
  .error {
    color: #FF3A3A;
  }
}
