<div [class]="ticketStyle">
  <div class="ticket-header">
      <div class="ticket-number">{{table.name}}</div>
      <div *ngIf="aviable" class="ticket-state">{{tableStatus}}</div>
      <div *ngIf="!aviable" class="ticket-state">{{TicketTimer()}}</div>
      <div [class]="dotStyle"></div>
   </div>
  <div class="ticket-content">
   <!-- <div class="ticket-status"><span>{{table.state}}</span><div [class]="dotStyle"></div>
    </div>
    <div *ngIf="!aviable" class="ticket-timer">
      <ion-img src="assets/images/timer.svg"></ion-img>
      <span>{{ TicketTimer() }}</span>
    </div> -->
    <div class="ticket-people">
      <ion-img src="assets/images/people.svg"></ion-img>
      <span>x0{{aviable?table.capacity:table.persons }}</span>
    </div>
  </div>
  <div class="ticket-footer">
      <div [class]="assignedStyle">{{user}}</div>
  </div>
    
</div>
