.ticket {
    border-radius: 15px;
    box-shadow: 0px 7px #12161A;
    .ticket-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        padding-bottom: 4px;
        .ticket-number {
            width: 32px;
            height: 32px;
            background: #121619;
            border-radius: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #99AAB5;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
        }
        .ticket-state {
            border-radius: 5px;
            padding: 5px 7px;
            color: #FFF;
            text-align: center;
            font-size: 0.9rem;
            font-style: normal;
            font-weight: 500;
        }
        .state-ready {
            background: #121619;
        }
        .state-waiting {
            background: #EE8000;
        }
        .ticket-dot {
            width: 10px;
            height: 10px;
            border-radius: 10px;
        }
        .dot-empty {                
            background: #616161;
        } 
        .dot-waiting {                
            background: #FF5C00;
        } 
        .dot-warning {                
            background: #FF3A3A;
        } 
        .dot-done {                
            background: #02BF15;
        }  
    }
    .ticket-content { 
        padding: 10px;
        padding-top: 0px;
        .ticket-status {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .ticket-dot {
                width: 10px;
                height: 10px;
                border-radius: 10px;
            }
            .dot-empty {                
                background: #616161;
            } 
            .dot-waiting {                
                background: #FF5C00;
            } 
            .dot-warning {                
                background: #FF3A3A;
            } 
            .dot-done {                
                background: #02BF15;
            }           
        }
        .ticket-timer, .ticket-people {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 5px;
            ion-img {
                width: 24px;
                height: 24px;
            }
            span {
                font-size: 21px;
                font-style: normal;
                font-weight: 400;
                color: #FFF;
            }
        }
    }
    .ticket-footer {
        border-top: #616161 1px solid;
        color: #FFF;
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 400;
        padding: 10px;
        .ticket-user {
            color: #FFE500 !important;
        }
        .ticket-nouser {
            color: #FFF;
        }
        .ticket-reduser {
            color: #FF5A5A;
        }
    }
}
.ticket-empty {    
    background: #2C2F33;
}
.ticket-warning {    
    background: #814D00;
}
.ticket-danger {    
    background: #501010;
}